/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    
}

html {
    max-width: 1920px;
    min-width: 428px;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, a, i {
    
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 3rem;
    padding-top: 10px;
    text-align: center;
}

h2 {
    padding-top: 10px;
    font-size: 2.5rem;
    text-align: center;
}

h3 {
    font-size: 2.25rem;
    text-align: center;
}

h4 {
    font-size: 1.75rem;
}

p, a {
    font-size: 1.25rem;
}

/* header section */
header {
    width: 100%;
    height: 100vh;
    background-image: url('../img/menu-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
   
   
}

.introduction {
    background-color: rgb(0, 4, 17, .8);
    height: auto;
}

.menu-items {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
 
.icons i {
    padding: 0 10px 15px 0;
}

/* spacer */
.spacer {
    width: 100%;
    height: 20vh;
    background-color: rgb(0, 4, 17);
}
.spacer-sm {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 4, 17);
}

/* menu */

.menu {
    width: 100%;
    height: auto;
    background-image: url('../img/staff-bartender.jpg');
    background-color: rgb(0, 4, 17);
    background-size: 2100px auto;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 20px;;
}



.menu-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-section {
    display: flex;
    padding: 20px 40px;
    width: 30%;
    flex-wrap: wrap;
}


.menu-item{
   
    display: flex;
    width: 100%;
    flex-wrap: wrap;
   justify-content: space-between;
   padding: 3px;
    
}

.menu-item-name, .menu-item-price {
    font-weight: bold;
}


.menu-item-description {
    width: 100%;
}



/* footer section */
footer {
    width: auto;
    height: auto;
    padding-top: 2.5vh;
    font-size: 3rem;
    background-color: rgb(0, 4, 17);
}

.finish{
    display: flex;
    
    font-size: 2rem;
    margin: 0 40px;
}

.finish nav {
    display: flex;

}

.finish nav a {
    padding: 0 15px;
}


.mail {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
}

.mail p {
    padding-left: 40px;
}
.copyright {
    padding-right: 50px;
    font-size: 1.25rem;
    text-align: right;
}

/* mobile media query */

@media (max-width: 428px) {
    /* header section */
    .header-title {
        width: 75%;
        margin: 0 auto;
        text-align: center;
        font-size: 4rem;
    }
    .ergineer{
        display: block;
    }

    h1 {
        font-weight: lighter;
        font-size: 3rem;
    }
    .introduction {
        height: auto;
    }

    .menu-items {
        flex-direction: column;
        text-align: center;
        padding-top: 7vh;
        padding-bottom: 5vh;
        gap: 2vh;
    }

    .icons {
        gap: 0.5vh;
    }
    article {
        width: 50%;
    }

    article h1, h2, h3, h4, h5, h6, p  {
        color: black;
        justify-content: center;
        text-align: center;
    }
    


    /* article span {
        padding: 0 50px;
    } */
    .menu {
        background:white;
        display: flex;
        flex-direction: column;
      
           
    }

    .menu-container{
        flex-direction: column;
        padding: 0 40px;
        align-content: center;
        flex-wrap: nowrap;
        align-items: center;
        
    }

    .menu-section {
        flex-direction: column;
       width: 70%;
       align-content: center;
       padding: 50px;
    }

  

    .menu-item {
        flex-direction: column;
        border-bottom: 4px solid black;
        padding: 20px 0;
    }

    article h2 {
        font-size: 4rem;
        margin: 0 100px;
        border-bottom: 15px solid black;
    }


    article h3 {
        font-size: 3.5rem;
        padding: 5px 15px;
        border: 4px solid black;
    }

    .menu-item-name, .menu-item-price {
        font-weight: lighter;
        font-size: 3rem;
    }

    .menu-item-description {
        font-size: 2rem;
    }
    /* menu */
    
    /* footer section */
    footer {
        height: auto;
        width: auto;
        padding-top: 2.5vh;
        font-size: 2rem;
    }

    .mail {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 0 0;
    }

    
    .finish nav, .finish {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
}
